@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4 portrait;
  margin: 12mm;
}

@media print {
  body {
    background: white;
  }

  .no-print {
    display: none !important;
  }

  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
